body {
    --text-color: #222;
    --bkg-color: #fafafa;
    --input-border: #adadad;
    --second-bkg-color: #f9f9f9;
    --patient-header-span-color: #203f9a;
    --tab-color: #686b69;
    --btn1-color: #e9eaef;
    --btn2-color: #e5f2f8;
    --btn3-color: #e9f0e8;
    --btn4-color: #f7e6ee;
    --btn5-color: #e5eef5;
    --btn6-color: #efeef4;
    --light-bkg-color: #fff;
    --h5-color: #434144;
    --disable-input-color: rgba(75,75,75,0.2);
    --profile-bkg-color: #f5f5f5;
    --grey-text-color: grey;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.admin-submit-btn {
    background-color: darkgoldenrod !important;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

a {
    text-decoration: none !important;
    color: green !important;
    /*text-decoration-color:green;*/
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        opacity: 0.8;
    }

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submit-btn, .ok-btn {
    border: 1px solid #01bae7;
    background-color: #01bae7;
    font-size: 15px;
    color: white;
    padding: 8px;
    border-radius: 8px;
}

.cancel-btn {
    border: 1px solid #01bae7;
    background-color: white;
    font-size: 15px;
    padding: 8px;
    color: #01bae7;
    border-radius: 8px;
}

.downloads-btn {
    border: 1px solid #02bae6;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #02bae6;
    background-color: transparent;
    font-size: 20px;
}

    .downloads-btn:hover {
        border: 1px solid #2596be;
        border-radius: 8px;
        background-color: rgba(1, 188, 233, 255);
        color: white;
    }

.form-group input {
    height: 50px !important;
}

.my-profile-input_box {
    position: relative;
    height: 55px;
}

#send-order-region-dropdown, #email-dropdown {
    height: 100%;
}

#send-order-dropdownarrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.input-subject label {
    top: 10px !important;
}

.right-wrong-div {
    width: 20px;
    display: flex;
    text-align: center;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.inline-flex {
    display: flex;
    gap: 10px;
    align-items: center;
}

.right-div {
    border: 2px solid green;
}

.wrong-div {
    border: 2px solid red;
}

.paging_full_numbers {
    display: flex;
}

.table-inputs {
    height: 40px;
}

table tr {
    vertical-align: middle;
}

table thead tr th {
    text-align: center !important;
}

.hidden {
    display: none !important;
}

.dt-paging-button {
    pointer-events: auto !important;
}

.main-content {
    width: 80%;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0px 0px gray, 0 0 5px white;
}

.upload-div {
    background-color: var(--bkg-color);
    border-radius: 0px 15px 15px 0px;
    height: 48px;
}

.upload-btn {
    border: 1px solid green;
    color: white;
    display: flex !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 8px;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    position: absolute;
    right: 12%;
    width: 102px !important;
}

.submit-btn {
    background-color: green !important;
    color: white !important;
}

.cancel-btn {
    background-color: brown !important;
    color: white !important;
}

::file-selector-button {
    font-size: 20px;
    /* visibility: hidden; */
}

.input-group {
    height: 50px;
    background-color: #7f7f7e;
}

input[type="file"] {
    -webkit-appearance: none;
    text-align: left;
    padding-top: 5px;
    color: gray;
    width: 100% !important;
    padding-left: 20px;
    /*opacity: 0;*/
    z-index: 9699;
}

#searchOrderdropdown {
    height: 50px;
}

#upload-label {
    position: absolute;
}

#myinputfile::-webkit-file-upload-button {
    -webkit-appearance: none;
    float: right;
    position: absolute;
    margin: -10px 0 0 0;
    right: 15%;
    padding-top: 12px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    opacity: 0;
    z-index: 9999;
}

#export-file-upload::-webkit-file-upload-button {
    float: right;
    position: absolute;
    margin: -10px 0 0 -20px;
    padding-top: 12px;
    width: 160px;
    height: 55px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    opacity: 0;
    z-index: 9999;
}

.excel-upload-btn {
    position: absolute;
    top: 47px;
    z-index: 0;
}

.bulk-operation-div {
    display: flex;
}

@media screen and (max-width: 767px) {
    .excel-upload-btn {
        position: absolute;
        top: 42px;
    }
}

@media screen and (max-width: 511px) {
    .bulk-operation-div {
        display: flex;
        flex-direction: column !important;
    }

    .excel-upload-btn {
        position: absolute;
        top: 100px;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.search-div {
    display: flex;
    padding: 15px;
    justify-content: end;
    align-items: center;
    gap: 15px;
}


@media screen and (max-width: 500px) {
    .search-div {
        flex-direction: column;
    }
}


.book-photo {
    width: 50px;
    height: 50px;
}

.send-email-div {
    display: flex;
    justify-content: end;
    align-items: center;
}

.send-email-btn {
    width: max-content;
    height: 50px;
    background-color: green !important;
    color: white !important;
    border-radius: 10px !important;
    border: 1px solid green !important;
}

.clear-btn {
    width: max-content;
    height: 50px;
    background-color: grey !important;
    color: white !important;
    border-radius: 10px !important;
    border: 1px solid grey !important;
}

    .clear-btn:hover {
        background-color: white !important;
        color: grey !important;
        border: 1px solid grey !important;
        border-radius: 10px !important;
    }

.send-email-btn:hover {
    background-color: white !important;
    color: green !important;
    border: 1px solid green !important;
    border-radius: 10px !important;
}

#symptoms {
    height: 120px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.canvas-div {
    width: 50%;
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


.icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.left-icon, .right-icon {
    display: flex;
    width: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    height: 30px;
    border-radius: 50%;
    background-color: cornflowerblue;
}


.plus-minus-div {
    position: absolute;
    right: 50px;
    z-index: 999;
    margin-top: 12px;
}

.plus-minus-icon-div {
    display: flex;
    gap: 10px;
}

/*.file {
    display: none;
}*/

.sendemailbtn-div {
    background-color: transparent !important;
    border: 0.5px solid lightgrey;
    border-radius: 0px 15px 15px 0px !important;
    height: 48px !important;
}

.file-name {
    position: relative;
    overflow: hidden;
    line-height: 30px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    vertical-align: middle;
    width: 300px;
    border: 2px solid #dbdbdb;
    border-radius: 0;
    height: calc(2em + 0.75rem + 2px);
}

.upload-btn {
    border: 1px solid green;
    color: white;
    display: flex !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 8px;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    position: absolute;
    right: 12%;
    width: 102px !important;
}

.sendemailbtn {
    border: 1px solid green;
    color: white;
    display: flex !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 8px;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    position: absolute;
    right: 3%;
    width: 102px !important;
}

    .sendemailbtn:hover {
        background: #2a64ad;
        box-shadow: 0 0 5px #33006e;
    }

#attachementFile {
    padding-top: 12px !important;
    opacity: 1 !important;
}

    #attachementFile::-webkit-file-upload-button {
        /*-webkit-appearance: none;*/
        float: right;
        position: absolute;
        /*margin: -10px 0 0 0;*/
        right: 3% !important;
        padding-top: 12px !important;
        border: 1px solid #aaaaaa;
        border-radius: 4px;
        opacity: 0 !important;
    }


#SendEmailModal, #AddQueryModal, .Email-Modal, #AddEditBlogModal {
    --bs-modal-width: 1000px !important;
}



@media screen and (max-width: 767px) {
    .plus-minus-div {
        position: static;
        /* right: 50px;
        margin-top: 12px;*/
    }

    .blog-cancel-btn{
        margin-top:10px;
    }

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span .psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}








display-flex, .display-flex, .display-flex-center, .signup-content, .signin-content, .social-login, .socials {
    display: flex;
    display: -webkit-flex;
}

.signup-content {
    padding: 75px 0;
}

.sign-up {
}

.signup-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
}

.signup-form, .signup-image, .signin-form, .signin-image {
    width: 100%;
    overflow: hidden;
}

body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8 !important;
    font-weight: 400;
    font-family: Poppins;
}


.signup .container {
    /*width: 900px;*/
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}

.sign-in .container {
    width: 900px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}


element.style {
}

.form-title {
    margin-bottom: 33px;
}

.signup-content h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 36px;
}

.register-form {
    width: 100%;
    margin-bottom: 20px;
}

.register-form-row .form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

/*.register-form .form-group:last-child {
    margin-bottom: 0px;
}*/


.register-form input[type=checkbox]:not(old) + label {
    display: inline-block;
    line-height: 1.5em;
    margin-top: 6px;
}

.label-agree-term {
    position: relative;
    top: 0%;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
}


.register-form input[type=checkbox]:not(old) + label > span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px solid #999;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: white;
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    vertical-align: bottom;
}


.register-form-row .form-group input, .register-select {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
}

.register-select {
    margin-top: 10px;
}

.register-form-row .form-group input:focus-visible, .register-form-row .form-group input:hover, .register-form-row .form-group input:active {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
}


.register-form-row .form-group label {
    position: absolute;
    left: 0;
    /*top: 50%;*/
    margin-top: 34px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222;
}

.form-submit {
    display: inline-block;
    background: #6dabe4 !important;
    color: #fff !important;
    border-bottom: none !important;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.signin-content {
    padding-top: 67px;
    padding-bottom: 87px;
}

.signup-form, .signup-image, .signin-form, .signin-image {
    width: 50%;
    overflow: hidden;
}

.signin-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px;
}

.form-title {
    margin-bottom: 33px;
}

.signin-form {
    margin-right: 90px;
    margin-left: 80px;
}

.zmdi-eye {
    position: absolute;
    top: 25px;
    right: 20px;
}


@media screen and (min-width: 1024px) {
    .signup .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 999px) {
    .signup-content, .signin-content, .social-login, .socials {
        display: flex;
        flex-direction: column;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
    }

    .signup-image {
        order: 1;
    }

    .signup-form {
        order: 2;
        width: 90%;
    }

    .signin-image, .signup-image {
        width: fit-content;
    }

    .sign-in .container, .signup .container {
        width: 100% !important;
    }
}







/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

    .sidebar.close {
        width: 88px;
    }

    /* ===== Reusable code - Here ===== */
    .sidebar li {
        height: 50px;
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .sidebar header .image,
    .sidebar .icon {
        min-width: 60px;
        border-radius: 6px;
    }

    .sidebar .icon {
        min-width: 60px;
        border-radius: 6px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    /*.sidebar .text,
    .sidebar .icon {
        color: var(--text-color);
        transition: var(--tran-03);
    }*/

    .sidebar .text {
        font-size: 17px;
        font-weight: 500;
        white-space: nowrap;
        opacity: 1;
    }

    .sidebar.close .text {
        opacity: 0;
    }
    /* =========================== */

    .sidebar header {
        position: relative;
    }

        .sidebar header .image-text {
            display: flex;
            align-items: center;
        }

        .sidebar header .logo-text {
            display: flex;
            flex-direction: column;
        }

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .sidebar header .image img {
        width: 40px;
        border-radius: 6px;
    }

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

    .sidebar li.search-box input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: var(--primary-color-light);
        color: var(--text-color);
        border-radius: 6px;
        font-size: 17px;
        font-weight: 500;
        transition: var(--tran-05);
    }

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    color: grey !important;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

    .sidebar li a:hover {
        background-color: var(--primary-color);
        color: white !important;
    }

        .sidebar li a:hover .icon,
        .sidebar li a:hover .text {
            color: var(--sidebar-color);
        }

.nav-link.active a {
    background-color: var(--primary-color) !important;
    color: white !important;
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

    .mode .sun-moon i.sun {
        opacity: 0;
    }

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

    .home .text {
        font-size: 30px;
        font-weight: 500;
        color: var(--text-color);
        padding: 12px 60px;
    }

.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}


.menu-links {
    padding: 0px !important;
}

.currencyDropdown {
    height: 55px !important;
}

#currency-dropdownarrow {
    position: absolute;
    top: 45px;
    right: 20px;
}

#currencyOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure it's above other content */
}

/* CSS for loader */
#currencyLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* Ensure it's above the overlay */
    color: white;
    font-size: 20px;
    /* You can add more styles for the loader, like a spinner */
}

.loader-img {
    width: 50px;
    height: 50px;
}

.add-rate-main-div {
    padding: 30px !important;
}

.currency-main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/*.currency-dropdown-div{
    width:15%;
}*/

.currencyDropdown-rate {
    height: 55px;
    border-radius: 15px !important;
}

#AddRateAlertModal {
    --bs-modal-width: 650px;
}

.content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.rate-input {
    height: 30px;
    border-radius: 15px;
    padding: 10px;
}

.form-check-input:checked, .form-check-label::before {
    background-color: #695cfe !important; /* Background color when checked */
}

.rate-loading-img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 445px) {
    .form-content {
        flex-direction: column;
        gap: 10px;
    }
}



.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 0px !important;
}

    .card-container .row {
        width: 90%;
    }

        .card-container .row .column {
            margin-bottom: 25px;
        }


.rate-alert-card {
    padding: 15px;
    border-radius: 15px !important;
}



@media screen and (max-width: 455px) {
    .btn-div {
        flex-direction: column;
    }
}




.query-card-header {
    padding: 15px;
}

.query-card-body {
    padding: 15px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.03s ease, opacity 0.3s ease;
}

    .query-card-body.open {
        max-height: fit-content;
        opacity: 1;
    }

.query-down-arrow {
    position: absolute;
    bottom: 0;
    margin-bottom: 54px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



#StudentTable {
    --bs-table-bg: white;
}

    #StudentTable thead {
        background-color: gray !important;
    }

.query-card-header h5, .query-card-body {
    word-wrap: break-word;
}


/*.toMail .query-card {
    margin-right : 20px;
}

.fromMail .query-card {
    margin-left: 20px;
}*/


.fromMail {
    display: flex;
    justify-content: end;
    align-items: center;
}

.query-card {
    width: 70%;
    overflow: hidden;
}

.card-text-div {
    font-size: 20px;
}

.card-text {
    color: var(--primary-color);
    word-break: break-all;
}


.querieslogo {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}


.querieslogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    /*background-color: #007bff;*/
    /*color: white;*/ /* Text color */
    font-size: 20px; /* Font size of the letters */
    font-weight: bold; /* Font weight of the letters */
}

.logo-text {
    text-align: center;
}



.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
}

@media screen and (max-width: 800px) {
    .card-text-div {
        font-size: 15px;
    }

        .card-text-div p {
            display: none
        }
}


.boxes-main-div {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.boxes-inner-div {
    display: flex;
    width: 100%;
}


.btns {
    width: 100%;
    background-color: #e0e0e0;
    box-sizing: border-box;
    margin: 10px;
    height: 100px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
}

    .btn1.active, .btn2.active, .btn3.active, .btn4.active, .btn9.active, .btn6.active,
    .btns:hover {
        color: white;
    }

.btn1.active,
.btn1:hover {
    background-color: #203f9a;
}

.btn2.active,
.btn2:hover {
    background-color: #00adef;
}

.btn4.active,
.btn4:hover {
    background-color: #5cb769;
}

.btn6.active,
.btn6:hover {
    background-color: #da0f82;
}

.btn3.active,
.btn3:hover {
    background-color: #0370d7;
}

.btn9.active,
.btn9:hover {
    background-color: #8e69aa;
}

.btn1, .btn2, .btn4, .btn4, .btn6, .btn3, .btn9 span {
    font-weight: bold;
}



.btn1 {
    border: 1px solid #203f9a;
    background-color: var(--btn1-color);
    color: #203f9a;
}

.dashboard-icon-div {
    width: 30px;
    height: 30px;
    padding-bottom: 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}

/*.btn1 .btn-inner-div .dashboard-icon-div {
    border: 1px solid #203f9a;
}

.btn2 .btn-inner-div .dashboard-icon-div {
    background-color: var(--btn2-color);
}

.btn4 .btn-inner-div .dashboard-icon-div {
    background-color: var(--btn3-color);
}

.btn6 .btn-inner-div .dashboard-icon-div {
    background-color: var(--btn4-color);
}

.btn3 .btn-inner-div .dashboard-icon-div {
    background-color: var(--btn5-color);
}

.btn9 .btn-inner-div .dashboard-icon-div {
    background-color: var(--btn6-color);
}
*/
.btn2 {
    background-color: var(--btn2-color);
    color: #00adef;
    border: 1px solid #00adef;
}

.btn4 {
    background-color: var(--btn3-color);
    color: #5cb769;
    border: 1px solid #5cb769;
}

.btn6 {
    background-color: var(--btn4-color);
    color: #da0f82;
    border: 1px solid #da0f82;
}

.btn3 {
    background-color: var(--btn5-color);
    color: #0370d7;
    border: 1px solid #0370d7;
}

.btn9 {
    background-color: var(--btn6-color);
    color: #8e69aa;
    border: 1px solid #8e69aa;
}

h5 {
    font-weight: bold;
}

.btn-inner-div {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

    .btn-inner-div i {
        font-size: 24px;
    }

@media screen and (max-width: 800px) {
    .boxes-main-div {
        width: 75%;
    }

    .boxes-inner-div {
        flex-direction: column;
    }

        .boxes-inner-div button {
            align-items: center;
            justify-content: center;
        }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .index-form {
        flex-direction: column;
    }
}

.excel-file-clear-div button {
    width: fit-content;
    background-color: transparent !important;
}

.toast {
    visibility: hidden; /* Hide toast by default */
    opacity: 0; /* Fully transparent when not visible */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

    .toast.show {
        visibility: visible; /* Make toast visible when 'show' class is added */
        opacity: 1; /* Fully opaque when visible */
    }

.login-nav-ul {
    display: flex;
    justify-content: end;
    align-items: center;
}

.blog-link {
    background-color: green;
    color: white !important;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
}

    .blog-link:hover {
        background-color: white;
        color: green !important;
        border: 1px solid green;
    }

    .blog-link:hover a{
        color:green !important;
    }

    .blog-link a {
        color: white !important;
    }

        .blog-link a:hover {
            color: green !important;
        }

.next-tab-link:hover {
    color: white;
    background-color: green;
}

.blog-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .blog-title-container h1 {
        font-weight: bold;
    }

.blog-div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
}

.content-outer-div {
    cursor: pointer;
    padding: 1.5em !important;
}

.blog {
    border-radius: 18px;
    background: #fff;
    height: calc(100% - 30px);
    overflow: hidden;
    box-shadow: 2px 4px 12px 0 rgba(0,0,0,0.08);
    transition: all 0.3s cubic-bezier(0,0,0.5,1);
    position: relative;
    height: 100%;
}

    .blog .blog-img {
        height: 200px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover !important;
    }

    .blog .blog-info {
        padding: 20px 20px;
    }

        .blog .blog-info h5 {
            font-size: 26px;
            line-height: 30px;
            color: #1d1d1d;
            font-weight: 700;
            padding-bottom: 4px;
        }


        .blog .blog-info a {
            font-size: 16px;
            color: green !important;
            line-height: 20px;
        }

.continue-link-div:hover {
    background-color: green;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    transition: all 0.45s ease;
    transform: translateX(0%);
}

    .continue-link-div:hover a {
        color: white !important;
    }

.blog-info-main {
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(26,31,119,.05);
    background: white;
    margin-top: 50px;
    padding: 50px 50px 50px 50px !important;
    z-index: 7;
    position: relative;
}

.title-div {
    background-color: unset;
    margin-top: 0px !important;
    justify-content: unset;
    height: auto !important;
    min-height: 250px;
}


.page-title-block {
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-title {
    color: #1d1d1d;
    font-size: 55px;
    font-weight: 700;
}

@media (max-width: 1199px) {
    .blog-title {
        font-size: 46px;
        line-height: 52px;
    }
}

@media (max-width: 991px) {
    .blog-title {
        font-size: 40px;
        line-height: 46px;
    }
}

@media (max-width: 767px) {
    .blog-title {
        font-size: 36px;
        line-height: 40px;
    }
}


@media (min-width: 1200px) {
    .container-lg {
        max-width: 1170px;
        padding: 0 15px;
    }
}

@media (max-width: 991px) {
    .blog-info-main {
        width: 90% !important;
        padding: 5% !important;
    }
}

.blog-img-div {
    background-repeat: no-repeat;
    background: #f7f7f7 no-repeat center;
    background-size: cover;
    height:400px;
    border-radius: 20px;
}

.content-div{
    padding: 48px 0;
}


.blogs-upload-div .upload-btn{
    right: 2% !important;
}

.blogs-upload-div #myinputfile::-webkit-file-upload-button {
    right: 2% !important;
}
.skiptranslate .VIpgJd-ZVi9od-l4eHX-hSRGPd {
    display: none !important; /* Hide the powered by link */
}

.skiptranslate img {
    display: none !important; /* Hide the Google logo */
}

.skiptranslate span {
    display: none !important; /* Hide the entire span that contains "Powered by" */
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display:none !important;
}

.goog-logo-link {
    display:none !important;
} 
    
.goog-te-gadget{
    color: transparent !important;
}

#change-language-btn{
    background-color:transparent;
    border:none;
    color:black;
}

.change-language-modal-div {
    position: relative;
    height: 55px;
}

    .change-language-modal-div select{
        height: 100% !important;
    }

    #send-order-dropdownarrow {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }


.joincall-btn{
    width:auto;
    border-radius:15px;

}


footer{
    color:white;
    padding:35px;
}

.footer-second-div div span{
    font-weight:bold;
}
.footer-second-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.footer-first-div{
    width:40%;
}

.footer-detail-span {
    word-wrap: break-word;
}

@media (max-width: 767px) {
    .footer-second-div {
        align-items: start;
        justify-content: center;
    }


    footer {
        flex-direction:column;
    }
}


.change-language-dropdown{
    width:auto;
    padding:5px;
    border-radius:10px;
    height:35px;
}