html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.admin-submit-btn {
    background-color: darkgoldenrod !important;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

a {
    text-decoration: none !important;
    color: green !important;
    /*text-decoration-color:green;*/
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        opacity: 0.8;
    }

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submit-btn, .ok-btn {
    border: 1px solid #01bae7;
    background-color: #01bae7;
    font-size: 15px;
    color: white;
    padding: 8px;
    border-radius: 8px;
}

.cancel-btn {
    border: 1px solid #01bae7;
    background-color: white;
    font-size: 15px;
    padding: 8px;
    color: #01bae7;
    border-radius: 8px;
}

.downloads-btn {
    border: 1px solid #02bae6;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #02bae6;
    background-color: transparent;
    font-size: 20px;
}

    .downloads-btn:hover {
        border: 1px solid #2596be;
        border-radius: 8px;
        background-color: rgba(1, 188, 233, 255);
        color: white;
    }

.form-group input {
    height: 50px !important;
}

.my-profile-input_box {
    position: relative;
    height: 55px;
}

#send-order-region-dropdown, #email-dropdown {
    height: 100%;
}

#send-order-dropdownarrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.input-subject label {
    top: 10px !important;
}

.right-wrong-div {
    width: 20px;
    display: flex;
    text-align: center;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.inline-flex {
    display: flex;
    gap: 10px;
    align-items: center;
}

.right-div {
    border: 2px solid green;
}

.wrong-div {
    border: 2px solid red;
}

.paging_full_numbers {
    display: flex;
}

.table-inputs {
    height: 40px;
}

table tr {
    vertical-align: middle;
}

table thead tr th {
    text-align: center !important;
}

.hidden {
    display: none !important;
}

.dt-paging-button {
    pointer-events: auto !important;
}

.main-content {
    width: 80%;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0px 0px gray, 0 0 5px white;
}

.upload-div {
    background-color: var(--bkg-color);
    border-radius: 0px 15px 15px 0px;
    height: 48px;
}

.upload-btn {
    border: 1px solid green;
    color: white;
    display: flex !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 8px;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    position: absolute;
    right: 12%;
    width: 102px !important;
}

.submit-btn {
    background-color: green !important;
    color: white !important;
}

.cancel-btn {
    background-color: brown !important;
    color: white !important;
}

::file-selector-button {
    font-size: 20px;
    /* visibility: hidden; */
}

.input-group {
    height: 50px;
    background-color: #7f7f7e;
}

input[type="file"] {
    -webkit-appearance: none;
    text-align: left;
    padding-top: 5px;
    color: gray;
    width: 100% !important;
    padding-left: 20px;
    opacity: 0;
}

#searchOrderdropdown {
    height: 50px;
}

#upload-label {
    position: absolute;
}

input[type="file"]::-webkit-file-upload-button {
    -webkit-appearance: none;
    float: right;
    position: absolute;
    margin: -10px 0 0 0;
    right: 12%;
    padding-top: 12px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    opacity: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-photo {
    width: 50px;
    height: 50px;
}

.send-email-div {
    display: flex;
    justify-content: end;
    align-items: center;
}

.send-email-btn {
    width: max-content;
    height: 50px;
    background-color: green !important;
    color: white !important;
    border-radius: 10px !important;
    border: 1px solid green !important;
}

    .send-email-btn:hover {
        background-color: white !important;
        color: green !important;
        border: 1px solid green !important;
        border-radius: 10px !important;
    }

#symptoms {
    height: 120px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


.icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.left-icon, .right-icon {
    display: flex;
    width: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    height: 30px;
    border-radius: 50%;
    background-color: cornflowerblue;
}


.plus-minus-div {
    position: absolute;
    right: 50px;
    z-index: 99999;
    margin-top: 12px;
}

.plus-minus-icon-div {
    display: flex;
    gap: 10px;
}

/*.file {
    display: none;
}*/

.sendemailbtn-div {
    background-color: transparent !important;
    border: 0.5px solid lightgrey;
    border-radius: 0px 15px 15px 0px !important;
    height: 48px !important;
}

.file-name {
    position: relative;
    overflow: hidden;
    line-height: 30px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    vertical-align: middle;
    width: 300px;
    border: 2px solid #dbdbdb;
    border-radius: 0;
    height: calc(2em + 0.75rem + 2px);
}

.upload-btn {
    border: 1px solid green;
    color: white;
    display: flex !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 8px;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    position: absolute;
    right: 12%;
    width: 102px !important;
}

.sendemailbtn {
    border: 1px solid green;
    color: white;
    display: flex !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 8px;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    position: absolute;
    right: 3%;
    width: 102px !important;
}

    .sendemailbtn:hover {
        background: #2a64ad;
        box-shadow: 0 0 5px #33006e;
    }

#attachementFile
{
    padding-top: 12px !important;
    opacity : 1 !important;
}
#attachementFile::-webkit-file-upload-button {
    /*-webkit-appearance: none;*/
    float: right;
    position: absolute;
    /*margin: -10px 0 0 0;*/
    right: 3% !important;
    padding-top: 12px !important;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    opacity: 0 !important;
}


#SendEmailModal {
    --bs-modal-width: 1000px;
}
@media screen and (max-width: 768px) {
    .plus-minus-div {
        position: static;
        /* right: 50px;
        margin-top: 12px;*/
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span .psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
