@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model StudentManagment.Models.AdminViewModel

<form asp-action="CheckAdminLogin" asp-controller="Login" method="post">
    <div class="container">
        <h2>Professor/Hod Login</h2>
        <h4 class="text-danger">@TempData["error"]</h4>

        <label for="uname"><b>Username</b></label>
        <input type="text" asp-for="UserName" placeholder="Enter Username">
        <span class="text-danger" asp-validation-for="UserName"></span><br />

        <label for="psw"><b>Password</b></label>
        <input type="password" asp-for="Password" placeholder="Enter Password">
        <span class="text-danger" asp-validation-for="Password"></span>

        <button class="admin-submit-btn" type="submit">Login</button>
    </div>
</form>