@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model StudentManagment.Models.ForgotPasswordViewModel


<section class="sign-in mt-5">
    <div class="container">
        <h5 class="text-danger ms-3">@TempData["error"]</h5>
        <h5 class="text-success ms-3">@TempData["Success"]</h5>

        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/Images/signin-image.jpg" alt="sing up image"></figure>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Change Password</h2>
                <form method="POST" class="register-form" id="login-form" asp-action="ResetPassword" asp-controller="Login">
                    <input type="hidden" asp-for="UserName" />
                    <input type="hidden" asp-for="ExpirationTime" />
                    <div class="register-form-row">
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" asp-for="OldPassword" id="oldpassword" placeholder="Old Password" />
                            <span id="old-pass-span" class="text-danger"></span>
                            <span id="old-pass-span2" class="text-danger" asp-validation-for="OldPassword"></span>
                            <i onclick="chng3(this)" class="zmdi zmdi-eye"></i>

                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" asp-for="Password" id="password" placeholder="New Password" />
                            <span id="pass-span" class="text-danger"></span>
                            <span id="pass-span2" class="text-danger" asp-validation-for="Password"></span>
                            <i onclick="chng(this)" class="zmdi zmdi-eye"></i>

                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" asp-for="ConfirmPassword" id="confirmPassword" placeholder="Confirm Password" />
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            <i onclick="chng2(this)" class="zmdi zmdi-eye"></i>

                        </div>
                        <div class="form-group form-button">
                            <button type="submit" id="signin" class="form-submit">Change Password</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var passwordInput = document.getElementById('password');
        var flag = true;
        passwordInput.addEventListener('keyup', function () {
            var password = passwordInput.value;

            var containsUppercase = /[A-Z]/.test(password);
            var containsLowercase = /[a-z]/.test(password);
            var containsDigit = /\d/.test(password);
            var containsSpecial = /[!@@#$%^&*?]/.test(password);
            var isLengthValid = password.length >= 8;
            var errorSpan = document.getElementById('pass-span');

            var errors = [];

            if (!containsUppercase) {
                errors.push('Password must include at least one uppercase letter,');
            }

            if (!containsLowercase) {
                errors.push('at least one lowercase letter,');
            }

            if (!containsDigit) {
                errors.push('at least one digit,');
            }

            if (!containsSpecial) {
                errors.push(' at least one special character,');
            }

            if (!isLengthValid) {
                errors.push(' at least 8 characters long.');
            }
            console.log(errors);
            if (errors.length > 0) {
                errorSpan.textContent = errors.join('\n');
            } else {
                errorSpan.textContent = '';
            }
            if (flag) {
                var span2 = document.getElementById("pass-span2");
                span2.style.display = "none";
                flag = false;
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var passwordInput2 = document.getElementById('oldpassword');
        var flag2 = true;
        passwordInput2.addEventListener('keyup', function () {
            var password = passwordInput2.value;

            var containsUppercase = /[A-Z]/.test(password);
            var containsLowercase = /[a-z]/.test(password);
            var containsDigit = /\d/.test(password);
            var containsSpecial = /[!@@#$%^&*?]/.test(password);
            var isLengthValid = password.length >= 8;
            var errorSpan = document.getElementById('old-pass-span');

            var errors = [];

            if (!containsUppercase) {
                errors.push('Password must include at least one uppercase letter,');
            }

            if (!containsLowercase) {
                errors.push('at least one lowercase letter,');
            }

            if (!containsDigit) {
                errors.push('at least one digit,');
            }

            if (!containsSpecial) {
                errors.push(' at least one special character,');
            }

            if (!isLengthValid) {
                errors.push(' at least 8 characters long.');
            }
            console.log(errors);
            if (errors.length > 0) {
                errorSpan.textContent = errors.join('\n');
            } else {
                errorSpan.textContent = '';
            }
            if (flag2) {
                var span2 = document.getElementById("old-pass-span2");
                span2.style.display = "none";
                flag2 = false;
            }
        });
    });

    function chng(x) {
        var input = document.getElementById("password");
        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    }
    function chng2(x) {
        var input = document.getElementById("confirmPassword");
        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    }

    function chng3(x) {
        var input = document.getElementById("oldpassword");
        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    }
</script>