@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model StudentManagment.Models.QueriesViewModel

<div id="AddReplyModal" class="modal fade Email-Modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send Reply</h5>
                <button type="button"
                        class="btn-close btn-close-custom"
                        data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form style="border:none !important;" method="post" asp-action="SendReplyEmail" asp-controller="Home">
                    <input type="hidden" asp-for="Email"/>
                    <input type="hidden" asp-for="QueryId" />

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="form-group form-floating input-subject mb-3">
                                <input type="text"
                                       readonly
                                       class="form-control input-lg"
                                       id="floatingSubject"
                                       asp-for="Subject"
                                       placeholder="Subject" />
                                <label for="floatingSubject">Subject</label>
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-floating pb-3">
                                <textarea class="form-control"
                                          id="summernote"
                                          asp-for="Body"
                                          placeholder="Multiple Line"></textarea>
                                <span asp-validation-for="Body" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div class="gap-2 d-md-flex justify-content-center justify-content-md-end pt-4 submit-cancel-btn">
                        <button class="btn btn-primary me-md-2 submit-btn" type="submit">
                            Submit
                        </button>
                        <button class="btn btn-primary cancel-btn" data-bs-dismiss="modal" type="button">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link href="~/summernote/summernote.css" rel="stylesheet" />
<script src="~/summernote/summernote.js"></script>
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            tabsize: 2,
            height: 300,
            minHeight: null,
            maxHeight: null,
            focus: true,
            callbacks: {
                onInit: function () {
                    // Disable editing for header and footer
                    $('#header, #footer').attr('contenteditable', false);
                }
            }
        });

        var selectedOption = $('#email-dropdown').find(':selected');
        var firstName = selectedOption.text();
        $('#to-email').text(firstName);
    });

    $("#email-dropdown").on("change", function () {
        var selectedOption = $('#email-dropdown').find(':selected');
        var firstName = selectedOption.text();
        $('#to-email').text(firstName);
    });
</script>
