@using StudentManagment.Models.DataModels;
@{
    ViewData["Title"] = "Home Page";
}
@model StudentManagement.Models.RoleBaseResponse<Student>
<div class="container-fluid">
    <div class="search-div row">
        <div class="col-md-5 col-lg-5 col-12 col-sm-12">
            <div class="form-group pb-4">
                <div class="input_box">
                    <input id="inputsearch"
                           class="form-control"
                           type="search"
                           placeholder="Search Student" />
                </div>
            </div>
        </div>
        @* <div class="col-md-2 col-lg-2 col-12 col-sm-12">
        <div class="form-group pb-4">
        <div class="input_box">
        <Select id="searchOrderTypedropdown"
        class="form-control dropdown-color">
        <option value="ASC">Ascending</option>
        <option value="DESC">Descending </option>
        </Select>
        </div>
        </div>
        </div>*@
    </div>
    <div class="container-fluid table-responsive">
        <table id="StudentTable" class="table table-borderless">
        </table>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 canvas-div">
            <div class="icon-div">
                <div id="left-left-icon" class="left-icon">
                    <i class="fa fa-angle-left" style="font-size:24px"></i>
                </div>
                <div id="left-right-icon" class="right-icon">
                    <i class="fa fa-angle-right" style="font-size:24px"></i>
                </div>
            </div>
            <canvas width="400" height="100" id="myChart"></canvas>
        </div>
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 canvas-div">
            <div class="icon-div">
                <div id="left-left-icon" class="left-icon">
                    <i class="fa fa-angle-left" style="font-size:24px"></i>
                </div>
                <div id="right-right-icon" class="right-icon">
                    <i class="fa fa-angle-right" style="font-size:24px"></i>
                </div>
            </div>
            <canvas width="400" height="100" id="myChart2"></canvas>
        </div>
    </div>
</div>
<script>
    function CreateCourse() {
        $.ajax({
            type: "get",
            url: '@Url.Action("CreateCourseModal","Home")',
            data: {},
            success: function (response) {
                $('#popup').html(response)
                $('#CreateCourseModal').modal("show");
            },
            error: function (xhr, status, error) {
                console.error(error + "djsfhsdjkfhsdkjfh");
            }
        });
    };

    //$('#inputsearch').on('input', function () {
    //    fetchRequests(0);
    //});

    //$('#searchOrderdropdown').on('change', function () {
    //    fetchRequests(0);
    //});

    //$('#searchOrderTypedropdown').on('change', function () {
    //    fetchRequests(0);
    //});

    //$(document).ready(function () {
    //    var startIndex = sessionStorage.getItem("StartIndex");
    //    if (startIndex == null) {
    //        fetchRequests(0);
    //    }
    //    else {

    //        fetchRequests(startIndex);
    //    }
    //});


    //function fetchRequests(startIndex) {
    //    var searchQuery = $("#inputsearch").val();
    //    var pageSize = $("#PageSizeDropdown").val();
    //    var OrderBy = $("#searchOrderdropdown").val();
    //    var secondApiRequest = {
    //        searchQuery: searchQuery,
    //        StartIndex: startIndex,
    //        PageSize: pageSize,
    //        OrderBy: OrderBy,
    //    }
    //    //$('#loading').show();
    //    $.ajax({
    //        method: "GET",
    //        url: "/Home/AdminIndexTableView",
    //        data: secondApiRequest,
    //        success: function (response) {
    //            //$('#loading').hide();
    //            $('#PartialDiv').html(response)
    //            sessionStorage.setItem("StartIndex", startIndex);

    //        },
    //        error: function () {
    //            $('#loading').hide();
    //            console.log("Function Fail")
    //        }
    //    })
    //}

    function loadDataTable(startIndex) {
        var TOTAL_ITEMS = 0;
        var searchQuery = $("#inputsearch").val();
        var pageSize = $("#dt-length-0").val();
        var secondApiRequest = {
            searchQuery: searchQuery,
            StartIndex: startIndex,
            PageSize: pageSize,
        }
        sessionStorage.setItem("currentPageIndex", startIndex);
        var table = new DataTable('#StudentTable', {
            searching: false,
            "infoCallback": function (settings, start, end, max, total, pre) {

                var pageInfo = this.api().page.info(); // Get the current page info
                var pageSize1 = $("#dt-length-0").val();;

                currentPageIndex = parseInt(sessionStorage.getItem("currentPageIndex"), 10);

                var startIndex = (currentPageIndex * pageSize1) + 1;

                var endIndex = Math.min(parseInt(startIndex, 10) + parseInt(pageSize1, 10) - 1, parseInt(TOTAL_ITEMS, 10));
                if (parseInt(endIndex, 10) === parseInt(TOTAL_ITEMS, 10)) {
                    $(".page-link.next").addClass("disabled");
                }
                else {
                    $(".page-link.next").removeClass("disabled");
                }

                if (startIndex == 1) {
                    $(".page-link.previous").addClass("disabled");
                }
                else {
                    $(".page-link.previous").removeClass("disabled");

                }
                return "Showing " + startIndex + " to " + endIndex + " of " + TOTAL_ITEMS + " entries";
            },
            drawCallback: function () {

                $(".dt-paging-button").removeClass("disabled");
            },
            "initComplete": function (settings, json) {

                $('#inputsearch').val(settings.oPreviousSearch.sSearch);

                $('#inputsearch').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnDraw(settings);
                });
                $(".dt-paging-button").removeClass("disabled");
            },
            "lengthMenu": [[5, 10, 15], [5, 10, 15]],
            "pageLength": pageSize,
            "language": {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            },
            "stateSave": true,
            "pagingType": "simple",

            ajax: {
                method: "POST",
                url: "/Home/AdminIndexTableView",
                data: secondApiRequest,
                dataType: "JSON",
                dataSrc: function (response) {
                    TOTAL_ITEMS = response.totalItems;
                    return response.data;
                },
                error: function () {
                    console.log("Function Fail")
                }
            },
            columns: [
                {
                    "title": "StudentId",
                    "data": "studentId",
                    "class": "text-center",
                    "render": function (data1, type, row) {
                        return data1;
                    }
                },
                {
                    "title": "FirstName",
                    "data": "firstName",
                    "class": "text-center",
                    "render": function (data1, type, row) {
                        return "<input id='firstname-input-" + row.studentId + "' class='table-inputs form-control-disables-" + row.studentId + "' style='display:none;' type='text' asp-for='" + data1 + "' value='" + data1 + "'/> <a class='input-values-" + row.studentId + "' href='/Home/CreateUpdateStudent?StudentId=" + row.studentId + "'>" + data1 + "</a>";
                    }
                },
                {
                    "title": "LastName",
                    "data": "lastName",
                    "class": "text-center",
                    "render": function (data1, type, row) {
                        return "<input id='lastname-input-" + row.studentId + "' class='table-inputs form-control-disables-" + row.studentId + "' style='display:none;' type='text' asp-for='" + data1 + "' value='" + data1 + "'/> <span class='input-values-" + row.studentId + "'>" + data1 + "</span>";
                    }
                },
                {
                    "title": "Email",
                    "data": "email",
                    "class": "text-center",
                    "render": function (data1, type, row) {
                        if (data1 == null) {
                            data1 = "-";
                        }
                        return "<input id='email-input-" + row.studentId + "' class='table-inputs form-control-disables-" + row.studentId + "' style='display:none;' type='text' asp-for='" + data1 + "' value='" + data1 + "'/> <span class='input-values-" + row.studentId + "'>" + data1 + "</span>";
                    }
                },
                {
                    "title": "BirthDate",
                    "data": "birthDate",
                    "class": "text-center",
                    "render": function (data1, type, row) {
                        var date = new Date(data1);
                        var localDate = new Date(date.getTime() - (date.getTimezoneOffset() * 60000));
                        var formattedDate = localDate.toISOString().split('T')[0];
                        return "<input id='birthdate-input-" + row.studentId + "' class='table-inputs form-control-disables-" + row.studentId + "' style='display:none;' type='date' asp-for='" + data1 + "' value='" + formattedDate + "'/> <span class='input-values-" + row.studentId + "'>" + formattedDate + "</span>";

                    }
                },
                {
                    "title": "CourseName",
                    "data": "courseName",
                    "class": "text-center",
                    "render": function (data1, type, row) {
                        return "<select id='courseDropdown-" + row.studentId + "' style='display:none;'></select> <span class='input-values-" + row.studentId + "'>" + data1 + "</span>";

                    }
                },
                {
                    "title": "UserName",
                    "data": "userName",
                    "class": "text-center",
                    "render": function (data1, type, row) {
                        return "<input id='username-input-" + row.studentId + "' class='table-inputs form-control-disables-" + row.studentId + "' style='display:none;' type='text' asp-for='" + data1 + "' value='" + data1 + "'/> <span class='input-values-" + row.studentId + "'>" + data1 + "</span>";

                    }
                },
                {
                    "title": "Action",
                    "data": "-",
                    "class": "text-center",
                    "render": function (data1, type, row) {
                        return "<div class='inline-flex'> <i onclick='displayInput(" + row.studentId + "," + row.courseId + ")' id='edit-btn-" + row.studentId + "' style='color:green;' class='fas fa-edit'></i>"
                            + "<div id='right-div-" + row.studentId + "' class='right-wrong-div right-div' style='display:none'>"
                            + "<i style='color:green;' onclick='updateStudent(" + row.studentId + ")' class='fa fa-check' aria-hidden='true'></i></div>"
                            + "<div id='wrong-div-" + row.studentId + "' onclick='hideInput(" + row.studentId + ")' class='right-wrong-div wrong-div' style='display:none'>"
                            + "<i style='color:red;' class='fa fa-times' aria-hidden='true'></i>"
                            + "</div></div>";
                    }
                },
            ]
        });
        return table;

    }




    $(document).ready(function () {
        sessionStorage.setItem("currentPageIndex", 0);
        var table = loadDataTable(0);
        $("#dt-length-0").val(5);
        $(".dt-paging-button").removeClass("disabled");
        $(document).on('change', '.form-select', function (event) {
            var pageSize = $("#dt-length-0").val();
            var secondApiRequest = {
                StartIndex: 0,
                PageSize: pageSize,
            };
            event.preventDefault();
            $.ajax({
                method: "POST",
                url: "/Home/AdminIndexTableView",
                data: secondApiRequest,
                dataSrc: "data",
                success: function (response) {
                    sessionStorage.setItem("currentPageIndex", 0);
                    var newRows = response.data;

                    table.clear();
                    table.rows.add(newRows).draw(false);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

        $(document).on('keyup', '#inputsearch', function (event) {
            var pageSize = $("#dt-length-0").val();
            var secondApiRequest = {
                searchQuery: this.value,
                StartIndex: 0,
                PageSize: pageSize,
            };
            $.ajax({
                method: "POST",
                url: "/Home/AdminIndexTableView",
                data: secondApiRequest,
                dataSrc: "data",
                success: function (response) {
                    sessionStorage.setItem("currentPageIndex", 0);
                    var newRows = response.data;

                    table.clear();
                    table.rows.add(newRows).draw(false);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

        let currentPageIndex = 0;
        let totalPages = table.page.info().pages;
        $(document).on('click', '.page-link.next', function (event) {
            var pageSize = $("#dt-length-0").val();
            if (sessionStorage.getItem("currentPageIndex") != null) {
                currentPageIndex = parseInt(sessionStorage.getItem("currentPageIndex"), 10) + 1;
            }
            let startIndex = currentPageIndex * pageSize;
            event.preventDefault();
            var secondApiRequest = {
                StartIndex: startIndex,
                PageSize: pageSize,
            };
            $.ajax({
                method: "POST",
                url: "/Home/AdminIndexTableView",
                data: secondApiRequest,
                dataSrc: "data",
                success: function (response) {
                    sessionStorage.setItem("currentPageIndex", currentPageIndex);
                    var newRows = response.data;

                    table.clear();
                    table.rows.add(newRows).draw(false);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

        $(document).on('click', '.page-link.previous', function (event) {
            event.preventDefault();
            var pageSize = $("#dt-length-0").val();
            if (sessionStorage.getItem("currentPageIndex") != null) {
                currentPageIndex = parseInt(sessionStorage.getItem("currentPageIndex"), 10) - 1;
            }
            let startIndex1 = currentPageIndex * pageSize;
            var secondApiRequest = {
                StartIndex: startIndex1,
                PageSize: pageSize,
            };
            $.ajax({
                method: "POST",
                url: "/Home/AdminIndexTableView",
                data: secondApiRequest,
                dataSrc: "data",
                success: function (response) {
                    console.log(response);
                    sessionStorage.setItem("currentPageIndex", currentPageIndex);
                    var newRows = response.data;

                    table.clear();
                    table.rows.add(newRows).draw(false);

                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

</script>
<script>
    function displayInput(StudentId, CourseId) {
        let editbtn = document.getElementById(`edit-btn-${StudentId}`);
        let submitdiv = document.getElementById(`right-div-${StudentId}`);
        let canceldiv = document.getElementById(`wrong-div-${StudentId}`);
        let inputFields = document.getElementsByClassName(`form-control-disables-${StudentId}`);
        let inputFieldValues = document.getElementsByClassName(`input-values-${StudentId}`);
        let CourseDropdown = $(`#courseDropdown-${StudentId}`);
        //console.log(courseDropdown);
        var items = @Html.Raw(Json.Serialize(Model.Courses));
        if (CourseDropdown.children().length === 0) {
            $.each(items, function (index, value) {
                let isSelected = value.courseId === CourseId ? "selected" : "";
                CourseDropdown.append(`<option value='${value.courseId}' ${isSelected}>${value.courseName}</option>`);
            });
        }
        $(`#courseDropdown-${StudentId}`).picker();
        editbtn.style.display = 'none';
        submitdiv.style.display = 'flex';
        canceldiv.style.display = 'flex';

        for (let i = 0; i < inputFields.length; i++) {
            inputFields[i].style.display = 'inline-block';
        }

        for (let i = 0; i < inputFieldValues.length; i++) {
            //courseDropdown.style.display = 'inline-block';
            inputFieldValues[i].style.display = 'none';
        }
    }


    function hideInput(StudentId) {
        let editbtn = document.getElementById(`edit-btn-${StudentId}`);
        let submitdiv = document.getElementById(`right-div-${StudentId}`);
        let canceldiv = document.getElementById(`wrong-div-${StudentId}`);

        let inputFields = document.getElementsByClassName(`form-control-disables-${StudentId}`);
        let inputFieldValues = document.getElementsByClassName(`input-values-${StudentId}`);
        let courseDropdown = document.getElementById(`courseDropdown-${StudentId}`);

        editbtn.style.display = 'block';
        submitdiv.style.display = 'none';
        canceldiv.style.display = 'none';
        $(`#courseDropdown-${StudentId}`).picker('destroy');
        courseDropdown.style.display = 'none';
        for (let i = 0; i < inputFields.length; i++) {
            inputFields[i].style.display = 'none';
        }

        for (let i = 0; i < inputFieldValues.length; i++) {
            inputFieldValues[i].style.display = 'inline-block';
        }

    }

    function updateStudent(StudentId) {
        var firstname = $(`#firstname-input-${StudentId}`).val();

        var lastname = $(`#lastname-input-${StudentId}`).val();

        var birthdate = $(`#birthdate-input-${StudentId}`).val();

        var username = $(`#username-input-${StudentId}`).val();

        var email = $(`#email-input-${StudentId}`).val();

        var courseDropdown = $(`#courseDropdown-${StudentId}`).val();

        var filter = @Html.Raw(@"/^[^@\s]+@[^@\.\s]+(\.[^@\.\s]+)+$/");
        console.log(filter);
        if (!filter.test(email)) {
            alert("Email is Invalid");
        } else {
            var studentViewModel =
            {
                StudentId: StudentId,
                FirstName: firstname,
                LastName: lastname,
                BirthDate: birthdate,
                CourseId: courseDropdown,
                UserName: username,
                Email: email,
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpsertStudent","Home")',
                data: studentViewModel,
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
            console.log(studentViewModel);
        }
    }
</script>

@*<script>

    $(document).ready(function () {
        // Initialize the chart without data
        var currentMonth = new Date().getMonth() + 1;
        var currentYear = new Date().getFullYear();
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                //labels: [],
                datasets: [{
                    label: '',
                    data: [],
                    borderWidth: 1,
                    borderColor: '#FF6384',
                    backgroundColor: '#FFB1C1',
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    x: {
                        type: 'time',
                        position: 'bottom',
                        time: {
                            unit: 'day',
                        }
                    },
                }
            },

        });

        GetChart(currentMonth, currentYear, myChart);

        $("#left-icon").on('click', function () {
            if (currentMonth == 1) {
                currentMonth = 12;
                currentYear = currentYear - 1;
                GetChart(currentMonth, currentYear, myChart);

            }
            else {

                GetChart(currentMonth - 1, currentYear, myChart);
                currentMonth = currentMonth - 1;
            }

        });

        $("#right-icon").on('click', function () {
            if (currentMonth == 12) {
                currentMonth = 1;
                currentYear = currentYear + 1;
                GetChart(currentMonth, currentYear, myChart);
            }
            else {
                GetChart(currentMonth + 1, currentYear, myChart);
                currentMonth = currentMonth + 1;
            }

        })
    });


</script>*@

<script>
    $(document).ready(function () {
        var currentMonth = new Date().getMonth() + 1;
        var currentYear = new Date().getFullYear();
        var ctx = document.getElementById('myChart').getContext('2d');
        var mychart1 = new Chart(document.getElementById('myChart'), {
            type: 'bar',
            data: {
                labels: ['Created Students.', 'Created Professors.'],
                datasets: [
                    {
                        label: '',
                        data: [],
                        backgroundColor: 'rgb(119, 185, 229)',
                    },
                    {
                        label: '',
                        data: [],
                        backgroundColor: 'rgb(231,200,28)'
                    },
                ]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        stacked: false,
                        type: 'time',
                        position: 'bottom',
                        time: {
                            unit: 'day',
                        }
                    },
                    y: {
                        stacked: false,
                    }
                },
            }
        });


        GetChart(currentMonth, currentYear, mychart1);

        $("#left-left-icon").on('click', function () {
            if (currentMonth == 1) {
                currentMonth = 12;
                currentYear = currentYear - 1;
                GetChart(currentMonth, currentYear, mychart1);

            }
            else {

                GetChart(currentMonth - 1, currentYear, mychart1);
                currentMonth = currentMonth - 1;
            }

        });

        $("#left-right-icon").on('click', function () {
            if (currentMonth == 12) {
                currentMonth = 1;
                currentYear = currentYear + 1;
                GetChart(currentMonth, currentYear, myChart);
            }
            else {
                GetChart(currentMonth + 1, currentYear, myChart);
                currentMonth = currentMonth + 1;
            }

        })

    });

    new Chart(document.getElementById('myChart2'), {
        type: 'bar',
        data: {
            labels: ['Created Students.', 'Created Professors.'],
            datasets: [
                {
                    label: '',
                    data: [],
                    backgroundColor: 'rgb(119, 185, 229)'
                },
                {
                    label: 'Created Professors',
                    data: [0.45, 0.7],
                    backgroundColor: 'rgb(231,200,28)'
                },
            ]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    stacked: false,
                    type: 'time',
                    position: 'bottom',
                    time: {
                        unit: 'day',
                    }
                },
                y: {
                    stacked: false,
                    gridlines: {
                        display: true
                    },
                }
            },
            legend: {
                display: [false, true, true, true]
            },
            title: {
                display: true,
                text: 'Where Are We Going to Land?'
            }
        },
    });



    function GetChart(month, year, myChart) {
        $.ajax({
            url: 'GetStudentProfessorChartDetails',
            type: 'GET',
            data: {
                month: month,
                year: year,
            },
            dataType: 'json',
            success: function (response) {
                console.log(response);
                var labels = [];
                var dataPoints = [];

                var labels2 = [];
                var dataPoints2 = [];

                response.data.forEach(function (item) {
                    labels.push(item.createdDate1);
                    dataPoints.push(item.studentDayWiseCount);
                });

                response.data.forEach(function (item) {
                    dataPoints2.push(item.professorDayWiseCount);
                });

                console.log(dataPoints2);
                console.log("labels ::::: ", labels);

                myChart.data.labels = labels;
                myChart.data.datasets[0].data = dataPoints;
                myChart.data.datasets[0].label = response.monthName + " / " + response.year + " CreatedStudents";
                myChart.data.datasets[0].backgroundColor = 'rgb(119, 215, 229)';

                //myChart.data.labels = labels2;
                myChart.data.datasets[1].data = dataPoints2;
                myChart.data.datasets[1].label = response.monthName + " / " + response.year + " CreatedProfessors";
                myChart.data.datasets[1].backgroundColor = 'rgb(231,200,28)';

                myChart.update();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error fetching data:", textStatus, errorThrown);
            }
        });
    }


</script>