@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
@model StudentManagment.Models.Hosts
<h1>Host Dashboard</h1>
<button id="startCall">Start Call</button>


<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestModalLabel">Join Requests</h5>
                <button type="button"
                        class="btn-close btn-close-custom"
                        data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <ul id="requestList" class="list-group"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeCall" class="btn btn-secondary" data-bs-dismiss="modal">Close Call</button>
            </div>
        </div>
    </div>
</div>

<script>

    document.getElementById("startCall").onclick = function () {
        const aspNetUserId = "@Model.AspNetUserId";
        connection.invoke("StartCall", aspNetUserId);
    };

    document.getElementById("closeCall").onclick = function () {

        const aspNetUserId = "@Model.AspNetUserId";
        connection.invoke("CloseCall", aspNetUserId);

        const requestList = document.getElementById("requestList");
        requestList.innerHTML = '';
    };

    window.addEventListener('beforeunload', function (event) {
        $.ajax({
            method: "PUT",
            url: "/Home/UpdateHostCallStatus",
            data: {
                AspNetUserId: '@Model.AspNetUserId',
                status: false,
            },
            success: function (response) {

            },
            error: function () {
                console.log("Function Fail")
            }
        });

        event.preventDefault(); 
        event.returnValue = ''; 
    });
</script>