@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 style="color:red">Not Authorized direct Access to This Page</h1>
        <h2 style="color:red">You can't Access this Page or Functionality'</h2>
    </hgroup>
</body>
</html>